.newChatBtn {
    width: 90%;
    height: 40px;
    flex-shrink: 0;
    margin: 10px auto;
    color: var(--aside-text-color);
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--aside-text-color);
    display: flex;
    justify-content: center;
    border-radius: 12px;
    cursor: pointer;
    i {
        color: var(--aside-text-color);
        margin-right: 10px;
    }
    &.hide {
        display: none;
    }
}
.historyTopicList {
    flex: 1;
    overflow: hidden;
    padding: 6px 0;
    &.hide {
        display: none;
    }
    div::-webkit-scrollbar {
        width: 0px; /* 设置滚动条宽度 */
    }
    .inner {
        height: 100%;
        overflow-y: auto;
        .historyTopic {
            width: 90%;
            height: 40px;
            margin: auto;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: var(--aside-text-color);
            border-radius: 8px;
            padding-left: 6px;
            padding-right: 6px;
            cursor: pointer;
            position: relative;
            &.active {
                background-color: var(--side-menu-active-bg);
                color: var(--side-menu-active-text-color);
                .action {
                    opacity: 1;
                }
                i {
                    color: var(--side-menu-active-text-color);
                }
            }
            i {
                color: var(--aside-text-color);
                margin-right: 10px;
            }

            .topicName {
                font-size: 12px;
                flex: 1;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .inputContainer {
                flex: 1;
                .editingTopicName {
                    width: 100%;
                    height: 26px;
                    padding: 2px 6px;
                    font-size: 12px;
                    box-sizing: border-box;
                    outline: none;
                    border-radius: 6px;
                    border: none;
                }
            }

            .action {
                flex-shrink: 0;
                opacity: 0;
                width: 36px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-left: 10px;
                i {
                    transform: scale(0.8);
                    margin: 0;
                }
            }
        }
    }
}
