.historyTopicListVisibleToggle {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    right: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    i {
        transform: scale(2);
    }
}
.newChatBtn {
    width: 90%;
    height: 40px;
    flex-shrink: 0;
    margin: 10px auto;
    color: var(--side-menu-text-color);
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--side-menu-text-color);
    display: flex;
    justify-content: center;
    border-radius: 12px;
    cursor: pointer;
    i {
        color: var(--side-menu-text-color);
        margin-right: 10px;
    }
    &.hide {
        display: none;
    }
}
.historyTopicList {
    flex: 1;
    overflow: hidden;
    padding: 6px 0;
    &.hide {
        display: none;
    }
    .inner {
        height: 100%;
        overflow-y: auto;
        .historyTopic {
            width: 90%;
            height: 40px;
            margin: auto;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: var(--side-menu-text-color);
            border-radius: 8px;
            padding-left: 10px;
            cursor: pointer;
            position: relative;
            &.active {
                background-color: #999999;
                &:hover {
                    .remove {
                        display: block;
                    }
                }
            }
            i {
                color: var(--side-menu-text-color);
                margin-right: 10px;
            }
            .topicName {
                font-size: 12px;
            }
            .remove {
                position: absolute;
                top: 0;
                right: -6px;
                display: none;
            }
        }
    }
}
