.message {
    width: 70vw;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 0;
    background-color: var(--body-bg);
    box-sizing: border-box;
    position: relative;
    .removeMessage {
        position: absolute;
        top: 30px;
        right: 90px;
        transform: scale(0);
        color: var(--text-color-normal);
    }
    &:hover {
        .removeMessage {
            transform: scale(0.8);
        }
    }
    .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        flex-shrink: 0;
        .img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            margin-bottom: 8px;
        }
        .typingAnimation::after {
            animation: typing 3s infinite;
            height: 20px;
            content: "";
            color: var(--text-color-normal);
          }
          .replyingAnimation::after {
            animation: reply 3s infinite;
            height: 20px;
            content: "";
            color: var(--text-color-normal);
          }
          
          
    }
    .user {
        margin-left: 20px;
    }
    .assistant {
        margin-right: 20px;
    }
    .content {
        flex: 1;
        min-height: 40px;
        border-radius: 12px;
        padding: 0 20px;
        border: 1px solid var(--border-color);
        color: var(--text-color-normal);
    }
    .imgContent {
        flex: 1;
        min-height: 40px;
        border-radius: 12px;
        padding: 20px;
        color: var(--text-color-normal);
    }

    .dellImage {
        width: 16vw;
        height: 16vw;
    }
    .placeholder {
        width: 60px;
        height: 100%;
    }
}

@media screen and (max-width: 768px) {
    .message {
        width: 96vw;
        display: flex;
        justify-content: space-between;
        padding: 6px;
        margin: 0;
        background-color: var(--body-bg);
        box-sizing: border-box;
        font-size: 12px;
        .removeMessage {
            transform: scale(0);
        }
        &:hover {
            .removeMessage {
                transform: scale(0);
            }
        }
        .avatar {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            flex-shrink: 0;
            .img {
                width: 20px;
                height: 20px;
                border-radius: 50%;
            }
        }
        .user {
            margin-right: 6px;
        }
        .assistant {
            margin-left: 6px;
        }
        .content {
            flex: 1;
            min-height: 20px;
            border-radius: 12px;
            padding: 0 10px;
            border: 1px solid var(--border-color);
            color: var(--text-color-normal);
            word-break: break-all;
        }
        .placeholder {
            width: 30px;
            height: 100%;
        }
    }
}


@keyframes typing {
    0% {
      content: "typing.";
    }
    33% {
      content: "typing..";
    }
    66% {
      content: "typing...";
    }
    100% {
      content: "typing.";
    }
  }

@keyframes reply {
    0% {
      content: "reply.";
    }
    33% {
      content: "reply..";
    }
    66% {
      content: "reply...";
    }
    100% {
      content: "reply.";
    }
  }