.message {
    width: 70vw;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 0;
    background-color: var(--body-bg);
    box-sizing: border-box;
    position: relative;
    .removeMessage {
        position: absolute;
        top: 30px;
        right: 90px;
        transform: scale(0);
        color: var(--text-color-normal);
    }
    &:hover {
        .removeMessage {
            transform: scale(0.8);
        }
    }
    .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        flex-shrink: 0;
        .img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
    .user {
        margin-left: 20px;
    }
    .assistant {
        margin-right: 20px;
    }
    .content {
        flex: 1;
        min-height: 40px;
        border-radius: 12px;
        padding: 0 20px;
        border: 1px solid var(--border-color);
        color: var(--text-color-normal);
    }
    .placeholder {
        width: 60px;
        height: 100%;
    }
}

@media screen and (max-width: 768px) {
    .message {
        width: 96vw;
        display: flex;
        justify-content: space-between;
        padding: 6px;
        margin: 0;
        background-color: var(--body-bg);
        box-sizing: border-box;
        font-size: 12px;
        .removeMessage {
            transform: scale(0);
        }
        &:hover {
            .removeMessage {
                transform: scale(0);
            }
        }
        .avatar {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            flex-shrink: 0;
            .img {
                width: 20px;
                height: 20px;
                border-radius: 50%;
            }
        }
        .user {
            margin-right: 6px;
        }
        .assistant {
            margin-left: 6px;
        }
        .content {
            flex: 1;
            min-height: 20px;
            border-radius: 12px;
            padding: 0 10px;
            border: 1px solid var(--border-color);
            color: var(--text-color-normal);
            word-break: break-all;
        }
        .placeholder {
            width: 30px;
            height: 100%;
        }
    }
}
