div {
    box-sizing: border-box;
}

i {
    cursor: pointer;
}

p code {
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
}

pre code {
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
}

pre code span {
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
}
