div {
    box-sizing: border-box;
}

div::-webkit-scrollbar {
    width: 2px; /* 设置滚动条宽度 */
}

div::-webkit-scrollbar-thumb {
    background-color: #cccccc; /* 设置滚动条滑块颜色 */
    border-radius: 4px; /* 设置滑块圆角 */
}

div::-webkit-scrollbar-track {
    background-color: var(--body-bg); /* 设置滚动条背景颜色 */
}

i {
    cursor: pointer;
}

.highlight-js-pre-container {
    position: relative;
    .copy {
        position: absolute;
        top: 10px;
        right: 10px;
        color: #fff;
        display: flex;
        justify-content: center;
        cursor: pointer;
        i {
            transform: scale(1.2);
            color: #fff;
            margin-right: 2px;
        }
    }
}

p {
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
}

p code {
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
}

pre code {
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
}

pre code span {
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
}
