.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    .aside {
        width: 0;
        min-width: 0;
        height: 100%;
        overflow: hidden;
        background-color: var(--aside-bg);
        color: var(--aside-text-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease;
        &.show {
            width: 14vw;
            min-width: 206px;
        }
        .historyTopicListContainer {
            flex: 1;
            width: 100%;
            overflow: hidden;
            display: flex;
            flex-direction: column;
        }
        .divider {
            width: 90%;
            height: 2px;
            border-radius: 12px;
            background-color: var(--text-color-normal);
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .siteSettings {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding-left: 1vw;
            flex-shrink: 0;
            height: 180px;
            .menu {
                height: 30px;
                display: flex;
                align-items: center;
                font-size: 12px;
                cursor: pointer;
                input {
                    width: 20px;
                }
                i {
                    width: 10px;
                    text-align: right;
                }
                div {
                    width: 120px;
                    margin-left: 10px;
                    color: var(--aside-text-color);
                }
                span {
                    white-space: nowrap;
                }
            }
        }
        .asideToggle {
            width: 40px;
            height: 40px;
            position: fixed;
            top: 50%;
            margin-top: -20px;
            left: -20px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: all 0.2s ease;
            &.asideShow {
                left: 14vw;
            }
            i {
                transform: scale(2);
            }
        }
    }
    .conversationContent {
        flex: 1;
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        .header {
            width: 100%;
            height: 80px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: var(--body-bg);
        }
        .main {
            flex: 1;
            overflow: hidden;
            display: flex;
            justify-content: center;
            background-color: var(--body-bg);

            .apiKeyRequiredTip {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: var(--text-color-normal);
                .title {
                    font-size: 28px;
                    font-weight: bold;
                }
                .desc {
                    margin-top: 10px;
                }
            }

            .chatHistory {
                height: 100%;
                overflow-y: auto;
                overflow-x: hidden;
                box-sizing: border-box;
                padding: 20px 10px;
                background-color: var(--body-bg);
                display: flex;
                flex-direction: column;
                align-items: center;
                .placeholder {
                    display: none;
                }
                &::-webkit-scrollbar {
                    width: 1px; /* 设置滚动条宽度 */
                }
                &::-webkit-scrollbar-thumb {
                    background-color: var(--body-bg); /* 设置滚动条滑块颜色 */
                    border-radius: 6px; /* 设置滑块圆角 */
                }
                &::-webkit-scrollbar-track {
                    background-color: var(--body-bg); /* 设置滚动条背景颜色 */
                }
            }
        }
        .footer {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 20px;
            position: relative;
            background-color: var(--body-bg);
            .openAiServiceError {
                position: absolute;
                top: -50px;
                left: 50%;
                margin-left: -40vw;
                width: 80vw;
                height: 40px;
                color: var(--error);
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                cursor: pointer;
            }
            .action {
                cursor: pointer;
                font-weight: bold;
                width: 120px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding-bottom: 36px;

                .btn {
                    width: 100px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 8px;
                    border: 1px solid var(--text-color-dark);
                    font-size: 14px;
                    color: var(--text-color-dark);
                }
            }
            .middle {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                margin: 0 20px;

                .textareaContainer {
                    position: relative;
                    display: flex;
                    align-items: center;
                    .mobileAction {
                        display: none;
                    }
                    .userPrompt {
                        margin-left: 20px;
                        width: 70vw;
                        height: auto;
                        min-height: 50px;
                        max-height: 120px;
                        padding: 16px;
                        padding-right: 30px;
                        display: flex;
                        align-items: center;
                        border: none;
                        outline: none;
                        resize: none;
                        border: 1px solid var(--border-color);
                        border-radius: 4px;
                        box-sizing: border-box;
                        background-color: var(--bg-color);
                        color: var(--text-color-normal);
                        resize: vertical;
                    }

                    .submit {
                        position: absolute;
                        bottom: 10px;
                        right: 16px;
                        cursor: pointer;
                        .spinner {
                            border-radius: 50%;
                            animation-name: spin;
                            animation-iteration-count: infinite;
                            animation-timing-function: linear;
                            width: 24px;
                            height: 24px;
                            border: 4px solid var(--text-color-normal);
                            border-top-color: transparent;
                            animation-duration: 1s;
                        }
                    }
                }
                .siteDescription {
                    margin-top: 20px;
                    font-size: 12px;
                    color: var(--text-color-normal);
                }
            }
        }
    }

    .extraFunction {
        position: fixed;
        top: 50%;
        right: 0px;
        margin-top: -100px;
        width: 100px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 2;
        &.noMessage {
            i {
                opacity: 0.6;
            }
        }

        i {
            margin-bottom: 60px;
            transform: scale(2);
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .modal {
        position: fixed;
        z-index: 6;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.4);
        // display: none;
        display: flex;
        justify-content: center;
        align-items: center;
        &.hide {
            display: none;
        }

        .modalContent {
            background-color: #fefefe;

            min-width: 400px;
            min-height: 400px;
            padding: 40px;
            border: 1px solid #888;
            border-radius: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
            display: flex;
            justify-content: center;
            align-items: center;
            display: inline-block;
            position: relative;

            .closeIcon {
                position: absolute;
                top: 20px;
                right: 20px;
                cursor: pointer;
                transform: scale(1.6);
                color: #333333;
            }
        }
    }

    .systemRoleSettings {
        width: 600px;
        label {
            display: block;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        textarea {
            padding: 10px;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            width: 100%;
            height: 150px;
            margin-bottom: 20px;
            box-sizing: border-box;
        }

        input {
            display: block;
            width: 600px;
            height: 60px;
            padding: 5px 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            margin-bottom: 10px;
        }

        .description {
            background-color: #f2f2f2;
            padding: 20px;
            margin-bottom: 20px;
        }

        .benefits {
            background-color: #e6f2ff;
            padding: 20px;
            a {
                color: #333;
            }
        }

        .btnContainer {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 20px;
            .saveButton {
                background-color: #007bff;
                border: none;
                border-radius: 4px;
                color: #fff;
                cursor: pointer;
                font-size: 16px;
                font-weight: bold;
                padding: 10px 20px;
                text-align: center;
                text-decoration: none;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: #0069d9;
                }
                &:nth-child(2) {
                    margin-left: 60px;
                }
            }
        }
        .buttonsContainer {
            justify-content: space-around;
        }
    }

    .loading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .loadingSpinner {
        border: 5px solid #ffffff;
        border-left-color: #333;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }

    i {
        color: var(--text-color-dark);
    }

    a {
        color: var(--text-color-dark);
    }

    .mobileAsideShowMask {
        display: none;
    }
}

// Mobile devices,iPad,Tablets
@media screen and (max-width: 768px) {
    .app {
        width: 100vw;
        height: 100vh;
        display: flex;
        overflow: hidden;
        .aside {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 2;
            height: 100vh;
            width: 0;
            &.show {
                width: 50vw;
            }
            .asideToggle {
                &.asideShow {
                    left: 50vw;
                    i {
                        color: var(--light-bg-color);
                    }
                }
            }
        }

        .conversationContent {
            height: 100%;
            .main {
                .apiKeyRequiredTip {
                    .title {
                        font-size: 14px;
                    }
                    .desc {
                        font-size: 12px;
                    }
                }
                .chatHistory {
                    .placeholder {
                        width: 96vw;
                        display: block;
                        .child {
                            height: 16px;
                        }
                    }
                }
            }
            .footer {
                padding-bottom: 10px;

                display: flex;
                justify-content: center;
                align-items: center;
                .openAiServiceError {
                    top: -66px;
                    font-size: 12px;
                }
                .action {
                    display: none;
                }
                .middle {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .textareaContainer {
                        display: flex;
                        justify-content: center;
                        .mobileAction {
                            display: block;
                            position: absolute;
                            top: -34px;
                            left: 50%;
                            margin-left: -45px;
                            .btn {
                                height: 30px;
                                width: 90px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-radius: 6px;
                                border: 1px solid var(--text-color-dark);
                                font-size: 14px;
                                color: var(--text-color-dark);
                                background-color: var(--body-bg);
                            }
                        }
                        .userPrompt {
                            width: 96vw;
                            margin: 0;
                            font-size: 12px;
                            min-height: 30px;
                            resize: vertical;
                        }
                        .submit {
                            right: 4px;
                            top: 8px;
                            i {
                                padding: 8px 10px;
                            }
                        }
                    }
                    .siteDescription {
                        margin-top: 10px;
                        font-size: 12px;
                        color: var(--text-color-normal);
                    }
                }
            }
        }

        .extraFunction {
            width: 40px;
            z-index: 2;
            bottom: 3vh;
            margin: 0;
            i {
                transform: scale(1.4);
                margin-bottom: 50px;
            }
        }

        .modal {
            .modalContent {
                min-width: 30vw;
                min-height: 30vw;
                padding: 16px;
                .closeIcon {
                    top: 10px;
                    right: 10px;
                }
            }
        }

        .systemRoleSettings {
            width: 80vw;

            label {
                display: block;
                font-size: 14px;
                font-weight: bold;
                margin-bottom: 10px;
            }

            textarea {
                padding: 10px;
                border: 2px solid #ccc;
                border-radius: 4px;
                font-size: 12px;
                width: 100%;
                height: 150px;
                margin-bottom: 20px;
                box-sizing: border-box;
            }

            input {
                display: block;
                width: 100%;
                height: 36px;
                padding: 5px;
                border: 1px solid #ccc;
                border-radius: 5px;
                box-sizing: border-box;
                margin-bottom: 10px;
                font-size: 12px;
            }

            .description {
                background-color: #f2f2f2;
                padding: 20px;
                margin-bottom: 20px;
                font-size: 12px;
            }

            .benefits {
                background-color: #e6f2ff;
                padding: 20px;
                font-size: 12px;
                a {
                    color: #333;
                }
            }

            .btnContainer {
                width: 100%;
                display: flex;
                justify-content: center;
                margin-top: 20px;
                .saveButton {
                    background-color: #007bff;
                    border: none;
                    border-radius: 4px;
                    color: #fff;
                    cursor: pointer;
                    font-size: 16px;
                    font-weight: bold;
                    padding: 10px 20px;
                    text-align: center;
                    text-decoration: none;
                    transition: background-color 0.3s ease;

                    &:hover {
                        background-color: #0069d9;
                    }
                    &:nth-child(2) {
                        margin-left: 60px;
                    }
                }
            }
            .buttonsContainer {
                justify-content: space-around;
            }
        }

        .mobileAsideShowMask {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: var(--text-color-dark);
            opacity: 0.8;
            z-index: 1;
        }
    }
}

/* Keyframes Spin */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.app[data-theme='light'] {
    --body-bg: #ffffff;
    --theme-color: #fb873c;
    --light-bg-color: #f7f8fb;
    --text-color-normal: #3d4452;
    --text-color-dark: #1a202b;
    --text-color-light: #a1a6b1;
    --border-color: #e8e9eb;
    --error: #ff073a;
    --success: #28a745;
    --shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --white: #fff;
    --black: #000;
    --aside-bg: #f5f5f5;
    --aside-text-color: #333333;
    --side-menu-active-bg: #0072c6;
    --side-menu-active-text-color: #ffffff;
}

.app[data-theme='dark'] {
    --body-bg: #12181b;
    --theme-color: #fb873c;
    --light-bg-color: #1f2529;
    --text-color-normal: #c2c3c7;
    --text-color-dark: #ebebec;
    --text-color-light: #929399;
    --border-color: #353746;
    --error: #eb4559;
    --success: #28a745;
    --shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    --white: #fff;
    --black: #000;
    --aside-bg: #1f2427;
    --aside-text-color: #f5f5f5;
    --side-menu-active-bg: #6c7a89;
    --side-menu-active-text-color: #ffffff;
}
